@charset "UTF-8";


.error {
	color : red
}

hr.line1{
	border-top: 1px solid #8c8b8b;
}

hr.line2{
	border-top: 1px solid #8c8b8b;
	width : 50%;
	margin:auto;
}


hr.dotedline{
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}